{% extends 'base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block body %}
    <h1>Create new Note</h1>

    {{ include('note/_form.html.twig') }}

    <a href="{{ path('note_index') }}" class="btn btn-secondary">back to list</a>

    {# templates/product/new.html.twig #}
    <h1>Adding a new product</h1>

    {{ form_start(form) }}
    {# ... #}

    {{ form_row(form.brochure) }}
    {{ form_end(form) }}
{% endblock %}
